{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Login Test
</h1>
<h2 class="subtitle">
  Esto es una prueba de inicio de sesion

  <a href="https://www.instagram.com/oauth/authorize?enable_fb_login=0&force_authentication=1&client_id=443897407962766&redirect_uri=https://kidicai.pythonanywhere.com/&response_type=code&scope=business_basic%2Cbusiness_manage_messages%2Cbusiness_manage_comments%2Cbusiness_content_publish">suscribirse con Instagram</a>
  
  <a href="https://www.facebook.com/v20.0/dialog/oauth?client_id=393577946782429&redirect_uri=https://kidicai.pythonanywhere.com/LoginTest/&state={st=state123abc,ds=123456789}&config_id=547622217684331&response_type=code">suscribirse con Facebook</a>
  
  <a href="https://graph.facebook.com/v20.0/oauth/access_token?client_id=393577946782429&redirect_uri=https://kidicai.pythonanywhere.com/&client_secret=9f55bd11b125a464babf8cba2b99ff87&code=AQAQjSHhYPdVJDdfGnLUDEBICtthnBdsOoxjHXM4aoGdyI-cvXG-RpYLFJO52ARbG-tEnICc5ZqwJbVT0cQJemeULbf2yg1masgS6ik9KbHYly1gsv3Ig3dFzXTxGNStRZB35hY-4S-GjgeH7qfWfrTEz11oBJyyo4NHfAZ5oJslaORNClEB0tZTu2DybzloflFZif8g2URmI5qYja3N_WI-ftk7uHlGb0713ZiEwTJFj7hSnSDJBLGY4WeKnVq_HcNfK2eQSUlYBZ7Ckl9tQi_jiAqWJ9LXcZqUdAyQ3mGE274GPRU4uZOOeUFWVO5IHmRKjvwt-IxqTuhEhgaCQ2LXEKLPc7utbhRdIm87vrEcXuJ8KtFPC5KOlsLhT9omVHzZdwTFpy_peUuMxwEZEuUFRIujQqrOZE7RU-iAZjPRLZohxPEcWmRchGNbsG8GRgw">Test get code</a>
  
</h2>
{% endblock %}