{% extends 'base.html' %}

{% block title %}Update Integration{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="mt-5">Update Integration</h2>
        <form method="POST" action="{{ url_for('integration.update_integration', integration_id=integration.id) }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.Type.label(class="form-label") }}
                {{ form.Type(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.Token.label(class="form-label") }}
                {{ form.Token(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.AssistantID.label(class="form-label") }}
                {{ form.AssistantID(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.IsTest.label(class="form-label") }}
                {{ form.IsTest() }}
            </div>
            <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
        </form>
    </div>
</div>
{% endblock %}
